{% load static %}
<h1>{{ noticia.titulo }} - Data: {{  noticia.data_noticia }}</h1>
<p>{{ noticia.texto_noticia }} </p>


<h2>Comentários</h2>
{% if user.is_authenticated %}
  <h2>Escreva um Comentário</h2>
  <form method="post" action="{% url 'jornal:comentar' noticia.id %}">
    {% csrf_token %}
    <textarea name="texto_comentario" rows="4" cols="50" placeholder="Digite seu comentário"></textarea>
    <br>
    <input type="submit" value="Enviar Comentário">
  </form>
{% else %}
  <p>Faça login para escrever um comentário.</p>
{% endif %}

{% if noticia.comentario_set.all %}
  <ul>
    {% for comentario in noticia.comentario_set.all %}
      <li>{{ comentario.texto_comentario }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>Não há comentários para esta notícia.</p>
{% endif %}